<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Projection by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />

	</head>
	<body>

		<!-- Header -->
			<!-- <header id="header">
				<div class="inner">
					<a href="index.html" class="logo"><strong>Projection</strong> by TEMPLATED</a>
					<nav id="nav">
						<a href="index.html">Home</a>
						<a href="generic.html">Generic</a>
						<a href="elements.html">Elements</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header> -->

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Welcome to Senti</h1>
					</header>

					<div class="flex ">

						<div>
							<span class="icon fa-hospital-o"></span>
							<p>Find healthcare institutions with best overall service</p>
						</div>

						<div>
							<span class="icon fa-map-o"></span>
							<p>Compare via a heatmap of income distrubtion in CA</p>
						</div>

						<div>
							<span class="icon fa-pie-chart"></span>
							<p>View real-time Twitter sentiment</p>
						</div>

					</div>

					<footer>
						<a href="/map" class="button">View map</a>
					</footer>
				</div>
			</section>


		<!-- Three -->
			<section id="three" class="wrapper align-center">
				<div class="inner">
					<div class="flex flex-2">
						<article>
							<header>
								<h3>How does it work?</h3>
							</header>
							<p>Senti lets you see what people think about local hospitals.<br />We analyze localized Twitter data to determine the sentiment of a given institution.<br />Additionally, Senti provides a visual heatmap based off CA income to search 
                            for correlations between hospital satisfaction and wealth. <br /> See where you stack up by trying out Senti!</p>
						</article>
						<article>
							<div class="image round">
								<img src="static/images/uclaBW.jpeg" alt="Pic 02" />
							</div>
							<header>
								<h3>Enter your institution of choice below:</h3>
							</header>
							<!-- <label align="center">Enter your institution of choice below:</label> -->
                                <form method="POST" align="center">
                                    <input name="text">
                                    <input type="submit">
                                </form> 
						</article>
					</div>
				</div>
			</section>
            
            

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>